name: CI

on: [push]

jobs:
  Test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v2
        with:
          node-version: '12.14.1'
      - name: Install Grunt
        run: npm install grunt
      - name: Run tests
        run: npm test
